@font-face{
    font-family: 'gt_america';
    src:    url('GT-America-Standard-Regular.eot') format('eot'),
            url('GT-America-Standard-Regular.ttf') format('ttf'),
            url('GT-America-Standard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}