@font-face{
    font-family: 'gt_america';
    src: url('/fonts/gt-america-standard-regular.eot');
    src: url(/fonts/gt-america-standard-regular.ttf');
    src: url('/fonts/gt-america-standard-regular.woff');
}