@font-face {
  font-family: suisse;
  src: url(/fonts/SuisseIntl-Regular.otf); }
.acid {
  color: #CAFF00; }

.blue {
  color: #3e7eff; }

.green {
  color: #00a300; }

.cyan {
  color: #67fff7; }

.red {
  color: #FF523D; }

.ochre {
  color: #c9861b; }

.pink {
  color: #FF6EFF; }

html {
  font-size: 12px;
  line-height: 1.25; }
  html *, html *:before, html *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

body {
  background-color: #000000;
  color: #0b37ff;
  font-family: 'nb', Helvetica, Arial, sans-serif; }

h1 {
  font-size: 1rem;
  font-weight: bold; }

h2 {
  font-size: 1rem;
  font-weight: normal; }

a {
  color: inherit; }
  a:hover {
    text-decoration: none; }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 2rem; }

.project-info {
  margin-bottom: 2rem; }
  .project-info .grid {
    row-gap: .5rem; }
    .project-info .grid * {
      display: inline;
      grid-column: auto / span 12; }

.project-content {
  margin-bottom: 12rem;
  z-index: 1;
  position: relative; }
  .project-content img, .project-content video {
    display: inline;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top; }
  .project-content .col-1 {
    grid-column: auto / span 6; }
    @media screen and (min-width: 500px) {
      .project-content .col-1 {
        grid-column: auto / span 2; } }
    @media screen and (min-width: 900px) {
      .project-content .col-1 {
        grid-column: auto / span 1; } }
  .project-content .col-2 {
    grid-column: auto / span 6; }
    @media screen and (min-width: 900px) {
      .project-content .col-2 {
        grid-column: auto / span 2; } }
  .project-content .col-3 {
    grid-column: auto / span 6; }
    @media screen and (min-width: 900px) {
      .project-content .col-3 {
        grid-column: auto / span 3; } }
  .project-content .col-4 {
    grid-column: auto / span 6; }
    @media screen and (min-width: 900px) {
      .project-content .col-4 {
        grid-column: auto / span 4; } }
  .project-content .col-5 {
    grid-column: auto / span 6; }
    @media screen and (min-width: 900px) {
      .project-content .col-5 {
        grid-column: auto / span 5; } }
  .project-content .col-6 {
    grid-column: auto / span 6; }
  .project-content .col-7 {
    grid-column: auto / span 12; }
    @media screen and (min-width: 900px) {
      .project-content .col-7 {
        grid-column: auto / span 7; } }
  .project-content .col-8 {
    grid-column: auto / span 12; }
    @media screen and (min-width: 900px) {
      .project-content .col-8 {
        grid-column: auto / span 8; } }
  .project-content .col-9 {
    grid-column: auto / span 12; }
    @media screen and (min-width: 900px) {
      .project-content .col-9 {
        grid-column: auto / span 9; } }
  .project-content .col-10 {
    grid-column: auto / span 12; }
    @media screen and (min-width: 900px) {
      .project-content .col-10 {
        grid-column: auto / span 10; } }
  .project-content .col-11 {
    grid-column: auto / span 12; }
    @media screen and (min-width: 900px) {
      .project-content .col-11 {
        grid-column: auto / span 11; } }
  .project-content .col-12 {
    grid-column: auto / span 12; }

@media screen and (min-width: 500px) {
  .project-info .grid {
    row-gap: 2rem; }
    .project-info .grid * {
      grid-column: auto / span 6; } }
@media screen and (min-width: 1000px) {
  html {
    font-size: 15px; }

  .project-info .project-title, .project-info .project-description {
    grid-column: auto / span 4; }
  .project-info .project-link, .project-info .project-details {
    grid-column: auto / span 2; } }
@media screen and (min-width: 1500px) {
  html {
    font-size: 20px; } }
