@media only screen and (max-width: 767px){
    
    
    
    .mobile-browser-bar{
        display: block;
    }
    
    .mobile-browser-img{
        display: block;
    }
    
    .browser-img{
        display: none;
    }
    
    .browser-bar{
        display: none;
    }
}

@media only screen and (min-width: 768px){
    
    h1{
        font-size: 3.5rem;
    }
    
    h3, .h3{
        font-size: 1.5rem;
    }
    
    #header h3{
        padding: 1.5rem;
    }
    
    #will{
        padding: 1.5rem;
    }
    
    .img-repeat{
        background-size: 50%;
        background-repeat: repeat;
        margin: none;
    }
    
    .globe{
        height: 3rem;
    }

}

@media only screen and (min-width: 1200px){
    
    h1{
        font-size: 4rem;
    }
    
    #info .video-wrapper{
        display: block;
    }
    
    #info-text{
        display: none;
    }
    
    .img-repeat{
        background-size: 25%;
    }
    
    .contain{
        padding: 10rem;
    }
    
    .img-fit{
        padding: 10rem;
    }
    
    #will{
        width: 250px;
    }
    
    .globe{
        height: 3.5rem;
    }
    
    .project-header, .project-data, .project-website{
        display: inline-block;
        width: auto;
        margin: 0;
        margin-right: 5rem;
        -ms-flex-preferred-size: 1;
            flex-basis: 1;
        -webkit-box-flex: 0.1;
            -ms-flex-positive: 0.1;
                flex-grow: 0.1;
    }
    
    .project-info{
        border-top: 1px solid white;
        padding: 1.5rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    }
    
}

@media only screen and (min-width: 1600px){
	h1{
        font-size: 5rem;
    }
    
    h3, .h3{
        font-size: 2rem;
    }
    
    #header h3{
        padding: 3rem;
    }
    
    #will{
        padding: 3rem;
        width: 300px;
    }
    
    .project-info{
    }
}