@media only screen and (max-width: 767px){
    
    
    
    .mobile-browser-bar{
        display: block;
    }
    
    .mobile-browser-img{
        display: block;
    }
    
    .browser-img{
        display: none;
    }
    
    .browser-bar{
        display: none;
    }
    
    .globe{
        display: none;
    }
    
    .project-info{
        padding: 1rem;
    }
    
    .project-website a{
        text-decoration: underline;
    }
}

@media only screen and (min-width: 768px){
    
    h1{
        font-size: 3.5rem;
    }
    
    h3, .h3{
        font-size: 1.5rem;
    }
    
    .contain{
        padding: 5rem;
    }
    
    #header h3{
        padding: 1.5rem;
    }
    
    .img-repeat{
        background-size: 50%;
        background-repeat: repeat;
        margin: none;
    }
    
    .globe{
        height: 3rem;
    }

}

@media only screen and (min-width: 1024px){
    
    h1{
        font-size: 3.5rem;
		line-height: 1;
    }
    
    #info .video-wrapper{
        display: block;
    }
    
    #info-text{
        display: none;
    }
    
    .img-repeat{
        background-size: 25%;
    }
    
    .contain{
        padding: 10rem;
    }
    
    .img-fit{
        padding: 10rem;
    }
    
    #will{
        width: 225px;
    }
    
    .globe{
        height: 3.5rem;
    }
    
    .project-header, .project-data, .project-website{
        display: inline-block;
        width: auto;
        margin: 0;
    }
	
	.project-data{
        padding: 0.5rem 1rem;
	}
    
    .project-info{
        padding: 1.25rem 2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: space-between;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    }
    
}

@media only screen and (min-width: 1600px){
	h1{
        font-size: 4rem;
    }
    
    h3, .h3{
        font-size: 1.75rem;
    }
    
    #header h3{
        padding: 3rem;
    }
    
    #will{
        width: 250;
    }
    
    .project-info{
    }
}