@media only screen and (min-width: 500px){
    .img-contain{
        padding: 3rem;
        
        div{
            img{
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

@media only screen and (min-width: 768px){
    
}

@media only screen and (min-width: 1024px){
    .img-contain{
        padding: 6rem;
    }
    
    .img-repeat{
        background-size: 25%;
    }
    
    .project-info{
        bottom: 1rem;
        left: 1rem;
    }
}