//orientation

//interaction
@media (hover: none){

}

//size
@media screen and (min-width: 500px) {
    
    .project-info{
        .grid {
            row-gap: 2rem;

            *{
                grid-column: auto / span 6;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    html{
        font-size: 15px;
    }

    .project-info {
        .project-title, .project-description{
            grid-column: auto / span 4;
        }

        .project-link, .project-details{
            grid-column: auto / span 2;
        }
    }
}

@media screen and (min-width: 1500px) {
    html{
            font-size: 20px;
        }
}
