//orientation
@media screen and (orientation: landscape) {
    
}

//interaction
@media (hover: none){

}

//size
@media screen and (min-width: 500px) {
    
    .project-info{
        *{
            grid-column: auto / span 3;
        }
    }

    .project-content{
        .img-xs{
            grid-column: auto / span 2;
        }

        .img-s{
            grid-column: auto / span 3;
        }

        .img-l{
            grid-column: auto / span 4;
        }

        .img-xl{
            grid-column: auto / span 6;
        }
    }
}

@media screen and (min-width: 900px) {
    .project-info {
        .project-title, .project-description{
            grid-column: auto / span 2;
        }

        .project-link, .project-details{
            grid-column: auto / span 1;
        }
    }
}
