@font-face {
  font-family: suisse;
  src: url(/fonts/SuisseIntl-Regular.otf);
}

@font-face {
  font-family: nb;
  src: url(/fonts/NBInternationalRegular.ttf);
}

$blue: #0b37ff;
$black: #000000;
$white: #ffffff;

.acid{
    color: #CAFF00;
}

.blue{
    color: #236DFF;
}

.green{
    color: rgb(0, 163, 0);
}

.cyan{
    color: #67fff7;
}

.red{
    color: #FF523D;
}

.ochre{
    color: #c9861b;
}

html{
    font-size: 12px;
    line-height: 1.25;

    *, *:before, *:after{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

body{
    background-color: $black;
    color: $blue;
    font-family: 'nb', Helvetica, Arial, sans-serif;
}

h1{
    font-size: 1rem;
    font-weight: bold;
}

h2{
    font-size: 1rem;
    font-weight: normal;
}

a{
    color: inherit;

    &:hover{
        text-decoration: none;
    }
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 2rem;
}

.project-info{
    margin-bottom: 2rem;
    
    .grid {
        row-gap: .5rem;
        *{
            display: inline;
            grid-column: auto / span 6;
        }
    }
}

.project-content{
    margin-bottom: 12rem;
    z-index: 1;
    position: relative;

    img, video{
        display: inline;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: top;
    }

    .col-1{
        grid-column: auto / span 3;

        @media screen and (min-width: 500px){
            grid-column: auto / span 2;
        }
        
        @media screen and (min-width: 900px){
            grid-column: auto / span 1;
        }
    }

    .col-2{
        grid-column: auto / span 3;

        @media screen and (min-width: 500px){
            grid-column: auto / span 2;
        }
    }

    .col-3{
        grid-column: auto / span 3;
    }

    .col-4{
        grid-column: auto / span 6;

        @media screen and (min-width: 500px){
            grid-column: auto / span 4;
        }
    }

    .col-5{
        grid-column: auto / span 6;

        @media screen and (min-width: 500px){
            grid-column: auto / span 5;
        }
    }

    .col-6{
        grid-column: auto / span 6;
    }
}

@import "_media-queries";