.project{
    width: 100%;
    display: block;
    padding: 1rem;
    padding-top: 5.2rem;

    .project-info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        column-gap: 1rem;
        row-gap: 1rem;

        margin-bottom: 10rem;

        h1{
            display: block;
            grid-column: 1 / span 2;   
            padding-bottom: 2rem;      
        }

        h2{
            grid-column: 1 / span 2;
        }
    }

    .block{
        display: block;
        width: 100%;
        margin-bottom: 6rem;
    }

    .project-image{
        object-fit: contain;
        width: 100%;
        
    }

    .project-image-caption{
        display: block;
        width: 100%;
        font-family: suisse-book-italic;
    }
}