.circle-grid{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    
    @media screen and (min-width: $medium){
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    }
    
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    overflow: hidden;
    pointer-events: none;
}

.circle{
    border-radius: 100%;
    background-color: blue;
    width: 100px;
    height: 100px;
    @media screen and (min-width: $medium){
        width: 150px;
        height: 150px;
    }
    
    justify-self: center;
    align-self: center;
    
    pointer-events: all;
}