//colors

$black: rgb(51, 51, 51);
$grey: #eaeaea;

//small
$small: 480px;

$half-margin-s: 1.5rem;
$margin-s: 3rem;
$double-margin-s: 6rem;


//medium
$medium: 768px;

$half-margin-m: 2rem;
$margin-m: 4rem;
$double-margin-m: 8rem;



//large
$large: 1200px;

$half-margin-l: 2.5rem;
$margin-l: 5rem;
$double-margin-l: 10rem;