/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 15, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 5px;
  color: blue;
  background-color: #eaeaea;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: normal;
  line-height: 1;
  cursor: url(sword-01.png), auto;
}

@media screen and (min-width: 768px) {
  /* line 15, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
  html {
    font-size: 10px;
  }
}

/* line 32, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  z-index: 1;
}

/* line 40, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
::-moz-selection {
  background: yellow;
  text-shadow: none;
}

/* line 45, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
/* line 57, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
/* line 73, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/* line 84, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
h1, .h1 {
  font-size: 3.5rem;
  font-weight: normal;
  margin: 0;
}

/* line 90, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
h2, .h2 {
  font-size: 2.5rem;
  font-weight: normal;
  margin: 0;
}

/* line 96, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
h3, .h3 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
}

/* line 102, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
p {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.4;
  margin: 0;
}

/* line 108, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
p a {
  color: white;
  text-decoration: underline;
}

/* line 112, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
p a:hover {
  text-decoration: none;
}

/* line 118, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
.slug {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/* line 124, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
.big-ass-text {
  font-size: 10rem;
  line-height: 1.1;
  color: #333333;
}

@media screen and (min-width: 1200px) {
  /* line 124, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
  .big-ass-text {
    font-size: 12.5rem;
  }
}

/* ==========================================================================
   Layout
   ========================================================================== */
/* line 139, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
.section {
  width: 100%;
  padding: 3rem;
}

@media screen and (min-width: 768px) {
  /* line 139, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
  .section {
    padding: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  /* line 139, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
  .section {
    padding: 5rem;
  }
}

/* ==========================================================================
   Menu
   ========================================================================== */
/* line 155, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
#menu {
  height: 0;
  display: none;
  width: 100%;
  position: sticky;
}

/* ==========================================================================
   Index
   ========================================================================== */
/* line 167, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
.header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #333333;
  z-index: 3;
  background-color: #eaeaea;
  height: 100px;
}

/* line 179, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
.header .logo {
  height: 100%;
  max-width: 150px;
  display: inline-block;
  flex-basis: 1;
  padding: 3rem;
}

/* line 184, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
.header .logo:hover {
  filter: blur(2px);
}

@media screen and (min-width: 768px) {
  /* line 179, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
  .header .logo {
    padding: 2rem;
    max-width: 200px;
    border-right: 1px solid #333333;
  }
}

/* line 195, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
.header .logo img {
  width: 100%;
  height: 100%;
}

/* line 201, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
.header .scroll {
  height: 100%;
  display: inline-block;
  flex-basis: 1;
  padding: 6rem;
}

/* line 205, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
.header .scroll:hover {
  filter: blur(2px);
}

@media screen and (min-width: 768px) {
  /* line 201, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
  .header .scroll {
    padding: 2rem;
  }
}

/* line 214, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
.header .scroll img {
  height: 100%;
}

/* ==========================================================================
   Projects
   ========================================================================== */
/* line 228, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
.project-title {
  flex-basis: 1;
  display: inline;
  line-height: 100%;
  margin: 0;
  padding: 1.5rem;
}

@media screen and (min-width: 768px) {
  /* line 228, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
  .project-title {
    padding: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  /* line 228, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/main.scss */
  .project-title {
    padding: 2.5rem;
  }
}

/* ==========================================================================
   Imports
   ========================================================================== */
/* line 1, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/_circles.scss */
.circle-grid {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  overflow: hidden;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  /* line 1, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/_circles.scss */
  .circle-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
  }
}

/* line 25, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/_circles.scss */
.circle {
  border-radius: 100%;
  background-color: blue;
  width: 100px;
  height: 100px;
  justify-self: center;
  align-self: center;
  pointer-events: all;
}

@media screen and (min-width: 768px) {
  /* line 25, /Users/willrhodes/Dropbox/Portfolio 4/development/scss/_circles.scss */
  .circle {
    width: 150px;
    height: 150px;
  }
}

/*# sourceMappingURL=../css/main.map */