@font-face {
    font-family: suisse-medium;
    src: url(/fonts/suisse-medium.otf) format('opentype');
    font-style: normal;
}

@font-face{
    font-family: suisse-book;
    src: url(/fonts/suisse-book.otf) format('opentype');
    font-style: normal;
}

@font-face {
    font-family: suisse-book-italic;
    src: url(/fonts/suisse-book-italic.otf) format('opentype');
    font-style: normal;
}

@font-face {
    font-family: suisse-bold;
    src: url(/fonts/suisse-bold.otf) format('opentype');
    font-style: normal;
}